<footer class="bg-gray-600 text-gray-400 text-xs">
  <div class="max-w-7xl mx-auto px-4 py-3">

    <div class="flex flex-col md:flex-row items-center justify-between gap-2 text-center md:text-left">

      <!-- LEFT : COPYRIGHT -->
      <div>
        © <span id="year"></span>
        <span class="text-gray-300 font-medium">
          {{ settings_obj.copy_right }}
        </span>. All rights reserved.
      </div>

      <!-- CENTER : LINKS -->
      <nav class="flex items-center gap-3">
        <a href="{% url 'privacy-policy' %}" class="hover:text-orange-400 transition">
          Privacy Policy
        </a>
        <span class="text-white hidden sm:inline">|</span>
        <a href="{% url 'terms_conditions' %}" class="hover:text-orange-400 transition">
          Terms & Conditions
        </a>
      </nav>

      <!-- RIGHT : CREDIT -->
      <div>
        Created by
        <span class="text-orange-400 font-medium">
          Renuka Tiwari
        </span>
      </div>

    </div>

  </div>
</footer>


